/* Colors */

/*
#9adff3 blue
#f7cadd pink
#d5b3f1 purple
#feeb4f yellow
#8d8d8d grey
#303437 black
*/

@import url('https://fonts.googleapis.com/css?family=Baloo+Da|Roboto');

body{

	background-color: #ffffff;
	font-family: 'Josefin Sans', sans-serif;
}


main { 
    padding: 10px;
    margin: 10px auto;
    font-weight: 700;
	width: 80%;
	max-width: 100%;
}

.date	{
	font-size: 20px;
}

header	{
	color: #303437;
	font-size: 28px;
}

p	{
	color: #303437;
	font-size: 18px;
}

p.highlight	{
	border-left: 6px solid #d5b3f1;
	padding-left: 3%;
    margin-left: 5%;
    
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    border: 10px solid #9adff3;
    padding: 18px;
    margin: 10px;
    background-color: #d5b3f1;
    transition: all 0.8s;
    font-size: 120%;
}

nav ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    background-color: #9adff3;
    color: #fff;
}

nav ul li a:visited {
    text-decoration: none;
}

.display li {
    display: block;
}




.dojo{
  background:  url(https://cdn.rawgit.com/alexmwalker/6acbe9040d9fe6e5e9fd758a25e1b2a5/raw/9c8131eb2ccc1e3839a5a5114cb16b5dc74daf04/dojo.svg) no-repeat;
  width: 100%;
  height: 800px;
  background-size: 100% auto;
  padding-top: 10px;
}
.quiz-body{
  background: rgba(255,255,255,1);
  margin: 150px 33%;
  padding: 10px 20px 50px 20px;
  -webkit-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
-moz-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
}
h1{
  color: #9adff3;
  font-weight: 900;
  font-size: 40px;
  margin: 0;
  padding-top:2em;
  
}

h2{
    padding-top: 1em;
    padding-bottom: 1em;
}


.centerText{
    text-align: center;
}

.tab { 
    margin-left: 1em;
 }
button {
  color: #ffffff;
  background-color: #9adff3;
  border-color: #130269;
  border-radius: 4px;
  margin: 0.2em 0;
  display: block;
  width: 100%;
  font-size: 24px;
}
#question {
 font-size: 24px;
}

#result{
  color: #fff;
  margin: 0.2em 0;
  width: 100%;
  text-align: center;
}
.correct {
    background-color: #f7cadd;
}
.wrong {
  color: #fff;
  background-color: #c00;
}

#notes p, #notes span{
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5rem;
}
.defTitle{
    color:#f7a307 ;
    font-size: 16px;
    font-weight: bold;
}

.subHeader, h3{
    color: #f2a7d1;
}
.space{
   
    margin-top: 4em;
    margin-bottom: 4em;
}

/*
TIC TAC TOE

*/
#tic-tac-toe{
	border-collapse: collapse;
	border:none;
	font-size: 4em;
	font-weight: 700;
	position: absolute;
	top: 5em;
}

#tic-tac-toe tr:hover {
	background-color: transparent;
}

#tic-tac-toe .ttt-cell{
	height: 2em;
	width: 2em;
	text-align: center;
	padding: 0;
}

td {
    border: 4px solid #bababa;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic"
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

button{
  border-radius: 5px;
  padding: .5em;
}