
  .clock {
    padding: 3px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /* height: 30%; */
    font-size: 5em;
    color:#515c63 ;
    margin-top: .8em!important;
  }
   .progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .progress-ring__circle {
    transition: 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: #5ad8f9;
  }
  
  figure {
    margin: 0 0 2em!important;
}
  
  .danger {
    stroke: rgb(243, 17, 28);
    animation: pulse 0.9s ease-in-out infinite;
  }
  .start {
    /* background: rgb(48, 33, 253);
    color: white; */
  }
  .break {
    background: rgb(0, 199, 116);
    color: #000000;
  }
  .reset {
    /* background: rgb(250, 69, 109);
    color: #000000; */
  }
  .pause {
    /* background: rgb(253, 143, 17); */
  }
  .resume {
    background: rgb(131, 10, 252);
    color: white;
  }
  
  @keyframes pulse {
    0%,
    100% {
      transform: rotate(-90deg) scale(1);
    }
    50% {
      transform: rotate(-90deg) scale(1.05);
    }
    75% {
      transform: rotate(-90deg) scale(0.8);
    }
  }/* */
  
  